
@media only screen and (max-width: 768px) {
  .navbar {
    color: #fff;
    background-color: #d3446f;
    padding: 25px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
  }
}
